{% extends "layout.twig" %}
{% import "macro.container.twig" as layout_container %}


{% block content %}

	<h2>Create Transport Unit</h2>
	
	{{ layout_container.addContainerForm(form_action) }}
	
	<div class="add-sensor-form" style="display: none">
		{{ layout_container.addSensorForm() }}
	</div>
{% endblock %}