{% extends "layout.twig" %}
{% import "macro.container.twig" as layout_container %}

{% block content %}
	
	<h2>Edit Transport Unit</h2>
	<p>
		ID: <code>{{ container.id }}</code>
	</p>
	{{ layout_container.editContainerForm(form_action, container, errors) }}
	
	<div class="add-sensor-form" style="display: none">
		{{ layout_container.addSensorForm() }}
	</div>
{% endblock %}