{% extends "layout.twig" %}

{% block content %}

	<h2>List of logs</h2>

	<table>
		<thead>
			<tr>
				<th>Timestamp</th>
				<th>Type</th>
				<th>Value</th>
				<th>Signature</th>
			</tr>
		</thead>
		<tbody>
			{% for log in log_list %}
				<tr>
					<td>{{log.value.timestamp|date("Y-m-d H:i:s") }}</td>
					<td>{{log.value.logType}}</td>
					<td>{{log.value.value}}</td>
					<td>
						{% for sig in signature %}
							{% if log.id == sig.id %}
								<a class="view-signature" href="{{ sig.signature }}">View</a>
							{% endif %}			
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}