<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />		
		<link href="/css/print.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
	<div id="wrapper" class="container">
			
		<div id="content" class="first prepend-1 span-22 append-1 last">
			{% block content %}
			{% endblock %}
		</div>
	</div>	
</body>
</html>
