{% extends "layout.twig" %}

{% block content %}

	<h2>Add user</h2>

	<form action="{{ form_action }}" method="get">
		<fieldset>
			<div>
				Name<br />
				<input type="text" value="" name="name" />
			</div>
			
			<div>
				Password<br />
				<input type="password" value="" name="password" />
			</div>
			
			<div>
				Roles<br />
				...........
			</div>
				
			<div>
				<input type="submit" value="Create User" />
			</div>
		
		</fieldset>
	</form>

{% endblock %}