body {
	background-color: #eee;
}

#wrapper {
	background-color: #fff;
}

#header {
	padding-top: 15px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
	padding: 20px 0;
}

#menu ul li {
	display: inline;
    margin: 0;
    padding: 0;
	margin-right: 10px;
	padding: 2px 6px;
	border: 1px solid black;
	-moz-border-radius: 10px;
	border-radius: 3px;
	background-color: #C3D9FF;
}

#menu ul li:hover {
	background-color: #E5ECF9;
}

#menu a:link, #menu a:visited, #menu a:active {
	text-decoration: none;
	color: #000;
}

a.adder {
}

.border-block {
	border: 1px solid #CCCCCC;
	padding-top: 5px;
	padding-bottom: 5px;	
}

.item-block ul {
	list-style: none;
}	