body{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 10pt;	
}

table {
	width: 100%;	
}

.delivery-table td {
	width: 50%;
	border: 1px solid black;
}

.delivery-title {
	width: 100%;	
}

.temperature-table td {
	border: 0px;
}

.border {
	border: 1px solid black;
}

.block {
	/*border: 1px solid black*/
	margin: 5px;
	padding: 5px;
}

.indent-10 {
	padding-left: 10px;	
}

.bold {
	font-weight: bold;	
}

.print-item {
	width: 80%;
	margin-top: 10px;
	padding: 20px;
}

.delivery-qrcode {
	margin-top: 0px;	
}

.delivery-address {
	font-size: medium;	
}

.delivery-title {
	margin-bottom: 5px;
}